{{ template "templates/components/organisms/header.html" . }}

{{ if .Auth.Authenticated }}
    {{ template "templates/components/atoms/headings.html" .Heading }}
    {{ if eq .Route "account/" }}
        <div class="text2">
            <a href="/account/settings">Account Settings</a><br>
            <a href="/account/groups">Groups</a><br>
        </div>
    {{ else if eq .SubRoute "settings" }}
        <div class="criteria">
            {{ template "templates/components/abstractions/settings.html" .Settings }}
        </div>
    {{ else }}
        <a href="/login">Please login to view</a><br>
    {{ end }}
{{ else }}
    <a href="/login">Please login to view</a><br>
{{ end }}

{{ template "templates/components/organisms/footer.html" . }}
