{{ template "templates/components/header.html" . }}
<div>
    {{ if .Auth.Authenticated }}
        {{ if eq .Auth.Role "admin" }}
            <div class="headercontainer">
                <h2 class="w3-wide text">Admin</h2>
            </div>
        {{ if eq .Route "admin" }}
            <div class="text2">
                <a href="/admin/usermenu">Manage Users</a><br>
                {{ if .Auth.RootAdmin }}
                    <a href="/admin/groupmenu">Manage Groups</a><br>
                {{ else }}
                    <a href="/admin/groupmenu">Manage Group</a><br>
                {{ end }}
            </div>
    <div class="list-container">
        {{ template "templates/components/organisms/lists.html" .GroupsList }}
    <div>
    {{ template "templates/components/organisms/forms.html" .Form }}
        {{ end }}
        {{ if eq .SubRoute "settings" }}
             {{ template "templates/components/admin/adminusers.html" . }}
         {{ end }}
        {{ end }}
    {{ end }}
</div>
{{ template "templates/components/footer.html" . }}
