{{ template "templates/components/organisms/header.html" . }}
<div>
    {{ if .Auth.Authenticated }}
    {{ if .Status }}
        {{ template "templates/components/atoms/alerts.html" .Alert }}
    {{ end }}
    {{ if eq .Auth.Role "admin" }}
        <div class="headercontainer">
            <h2 class="w3-wide text">Admin</h2>
        </div>
        {{ if .Auth.RootAdmin }}
            <div class="list-container">
                {{ template "templates/components/organisms/lists.html" .ListGroups }}
            <div>
            {{ template "templates/components/organisms/forms.html" .CreateGroup }}
        {{ else }}
            {{ template "templates/components/organisms/forms.html" .CreateUser }}
        {{ end }}
    {{ end }}
    {{ end }}
</div>
{{ template "templates/components/organisms/footer.html" . }}
