{{ template "templates/components/header.html" . }}
<div class="headercontainer">

    <h2>{{ .Route }}</h2>
    {{ if .Auth.Authenticated }}
        <h2 class="w3-wide">Welcome</h2>
    {{ else }}
        <h2 class="w3-wide">Create an account</h2>
    {{ end }}

</div>

</div>
{{if .Auth.Authenticated}}
<h1>Welcome, {{ .Auth.Username }}</h1>
{{else}}
<div class="container">
    {{ template "templates/components/organisms/forms.html" . }}
</div>
{{end}}

<div class="text2">
    {{ if not .Auth.Authenticated }}
        <a href="/login">or login</a><br>
    {{ end }}
</div>

{{ template "templates/components/footer.html" . }}
