{{ template "templates/components/organisms/header.html" . }}
<div>
    {{ if .Auth.Authenticated }}
    {{ if .Status }}
        {{ template "templates/components/atoms/alerts.html" .Alert }}
    {{ end }}
    {{ template "templates/components/atoms/headings.html" .Heading }}
    {{ if .CreateTask }}
        {{ template "templates/components/organisms/forms.html" .CreateTask }}
    {{ end }}
    {{ if eq .Route "tasks/" }}
        <div class="criteria">
            {{ template "templates/components/abstractions/overview.html" .Overview }}
        <div>
    {{ end }}
    {{ end }}
</div>
{{ template "templates/components/organisms/footer.html" . }}